body {
  margin: 0;
  display: grid;
  grid-template-rows: 125px 1fr;
  grid-template-columns: 2fr 405px 2fr;
  grid-template-areas:
    'header header header '
    'leftsidepanel gameContainerDiv rightsidepanel';
  height: 100vh;
}
.game-header {
  background-color: pink;
  grid-area: header;
  text-align: center;
}
#left-side-panel {
  background-color: red;
  grid-area: leftsidepanel;
}
#right-side-panel {
  background-color: orange;
  grid-area: rightsidepanel;
}
#game-container-div {
  background-color: violet;
  grid-area: gameContainerDiv;
}
#game-board-div {
  display: grid;
  grid-gap: 0px;
  grid-template-rows: repeat(27, 1fr);
  grid-template-columns: repeat(27, 1fr);
}
.board-element {
  /* border: 1px solid navy; */
  width: 15px;
  height: 15px;
  margin: 0;
}
.board-wall-light {
  background-color: black;
}
.board-floor-light {
  background-color: white;
}
.board-player {
  background-color: aqua;
}
.board-exit-light {
  background-color: red;
}
